extend layout

block content
  .match
    img(src=match.gif, alt='')
    form(method='post', action='/')
      ul.answers
        each answer, index in match.answers
          li
            input(type='radio', name='answer', value=answer, id='answer-'+index)
            label(for='answer-'+index)= answer
      input.button(type='submit', value='Final Answer')
  .footer
    .stats
      span.stats-correct
      /
      span.stats-total
