extend layout

block content
  - var isCorrect = userAnswer === match.rightAnswer;
  .match
    img(src=match.gif, alt='')
    ul.answers
      each answer in match.answers
        - var classes = []
        - if (answer === userAnswer) classes.push('chosen')
        - if (answer === match.rightAnswer) classes.push('correct')
        li(class=classes.join(' '))= answer
    h2(class=isCorrect ? 'correct' : '')= isCorrect ? 'Correct' : 'Wrong'
    a.button(href='/') More Meat
