extend layout

block content
  - var answerCorrect = userAnswer === match.rightAnswer;
  .match
    img(src=match.gif, alt='')
    ul.answers
      each answer in match.answers
        - var classes = []
        - if (answer === userAnswer) classes.push('chosen')
        - if (answer === match.rightAnswer) classes.push('correct')
        li(class=classes.join(' '))= answer
    h2= answerCorrect ? 'Correct' : 'Wrong'
  p
    a.more-meat(href='/') More Meat
