* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  width:100%;
}

body {
  font-family:'Helvetica Neue', sans-serif;
  font-size:16px;
  background:#f181ad;
  color:#3a061b;
}

ul {
  list-style:none;
}

.page-wrapper {
  width:100%;
  max-width:300px;
  margin:0 auto;
  padding-bottom:8px;
}

.page-wrapper > h1 {
  font-size:54px;
  text-align:center;
  color:#fff;
}

.match {
  background:#fff;
  border-radius:4px;
  padding:10px 0;
}

.match img {
  display:block;
  width:210px;
  margin:0 auto;
  border-radius:3px;
}

.button {
  display:block;
  width:90%;
  margin:0 auto;
  border:0;
  background:#f181ad;
  color:#fff;
  padding:10px 0;
  font-size:20px;
  font-family:'Helvetica Neue', sans-serif;
  cursor:pointer;
  border-radius:3px;
  text-decoration:none;
  text-align:center;
}

.button:hover, .button:focus {
  background:#d81863;
}

.match h2 {
  text-align:center;
  font-size:42px;
  color:#d81863;
  margin-bottom:10px;
  text-transform:uppercase;
}

.match h2.correct {
  color:#61d317;
}

.meatspace-logo {
  display:block;
  width:100%;
  margin:16px 0;
}

.warming-message {
  font-size:14px;
  text-align:center;
}

.answers {
  margin:10px 0;
}

.answers li {
  padding:8px 10px 8px 28px;
  position:relative;
  word-break:break-word;
}

.answers li:nth-child(odd) {
  background:#fdecf3;
}

.answers li.chosen {
  background:#d5bef8;
}

.answers li.correct {
  background:#cbf6af;
}

.answers input[type="radio"] {
  position:absolute;
  left:10px;
  top:10px;
}

.answers input[type="radio"]:checked + label {
  background:#d5bef8;
}

.footer {
  font-size:12px;
  padding:8px 10px 0 10px;
}

.stats {
  display:none;
}

.localstorage .stats {
  display:block;
}
